/*  Mobile First */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --backgound-input-button : linear-gradient(120deg, #ecaf40, #1717d9f0);
    --primary-color : #eaeaea;
    --background-color-hover: #eaeaea;
    --color-hover: #1717d9f0;
    --primary-transition: all 0.5s ease;
}


body {
    /* Le fond est provisoire*/
    background-image: linear-gradient(120deg, blue, orange);
    /* La couleur est provisoire*/
    color: var(--primary-color);
    /* Police provisoir intégrer une de google fonts */
    font-family: 'Courier New', Courier, monospace;
    min-height: 100vh;
}

header {
    font-size: 1.3rem;
}

header, 
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, 
form button {
    display: flex;
    background: var(--backgound-input-button) ;
    border: none;
    font-size: 1.8rem;
    padding: 0.6rem;
}

form input {
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem ;
}

form button {
    
    background: var(--backgound-input-button) ;
    color: var(--primary-color);
    transition: all 0.5s ease;
    cursor: pointer;
    border-bottom-right-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
}

form button:hover {
    background: var(--background-color-hover);
    color: var(--color-hover);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

}

/* appel de ma class todo de mon .js*/

.todo {
    min-width: 40%;
    list-style: none;
}

/* appel de ma class task de mon .js*/

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.8rem;
    background: var(--backgound-input-button);
    color: var(--primary-color);
    font-size: 1.8rem;
    transition: all 0.5s ease;
}

/* appel de ma class li de mon .js*/

.list-items {
    flex: 1;
    padding: 0rem .4rem;
}

/* appel de mes boutons de mon .js*/

.check-btn,
.deleted-btn {

    font-size: 0.8rem;
    background: var(--backgound-input-button);
    color: var(--primary-color);
    border: none;
    padding: 0.7rem;
    cursor: pointer;
    transition: var(--primary-transition);
}

.fa-trash,
.fa-check {
    pointer-events: none;
}

.itemCheck {
    text-decoration: line-through;
    opacity: 0.7;
}

